.container {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    padding-left: 2rem;
}

.container h3 {
    margin-bottom: 0;
    margin-right: 2rem;
}

input {
    border-color: transparent;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    border-radius: 3px;
    border: 1px solid #9e9e9e;
    outline: 0 !important;
}

.btn {
    background: #62afe6 !important;
    padding: 8px 14px !important;
    font-size: 15px !important;
    font-weight: bold !important;
    border-color: transparent;
    border-radius: 3px;
    text-transform: capitalize;
    color: var(--clr-white);
    cursor: pointer;
    margin: 0 !important;
    transition: all 0.2s linear;
}

.btn:hover {
    transition: all 0.2s linear;
    background: #49a6e9 !important;
}

@media screen and (max-width: 576px) {
    .container h3 {
        font-size: 1rem;
    }

    input,
    .btn {
        font-size: 0.85rem;
    }
}

input.error {
    border: 1px solid #f47351;
}

.colors {
    min-height: calc(100vh - 100px);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(223.33px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(96px, 1fr));
}

.color {
    padding: 1rem 2rem;
    cursor: pointer;
    font-size: 1rem;
    text-transform: none;
}

.percent-value {
    margin-bottom: 0;
    color: var(--clr-grey-1);
}

.color-value {
    color: var(--clr-grey-1);
    margin-bottom: 0;
}

.color-light .color-value {
    color: var(--clr-white);
}

.color-light .percent-value {
    color: var(--clr-white);
}

.alert {
    text-transform: uppercase;
    font-size: 0.85rem;
    margin-top: 0.5rem;
}